# Configuración del motor de Inteligencia Artificial (Local)
OLLAMA_HOST=http://localhost:11434
MODEL_NAME=llama3.1:8b

# Configuración de Streamlit
#STREAMLIT_SERVER_PORT=8501

# Configuración del servidor
PORT=8000
ENVIRONMENT=development

# Configuración del túnel Zrok (Para integración CI/CD con GitHub Actions)
ZGROK_URL=https://tu-url-generada.share.zrok.io
ZGROK_TOKEN=tu_token_de_zrok_aqui