# Dependencias actuales del prototipo (Semana 1)
#streamlit==1.35.0


# Dependencias del backend (FastAPI y Uvicorn)
fastapi==0.139.2
uvicorn==0.51.0
pydantic==2.13.4

# Dependencias de Inteligencia Artificial (Llama y spaCy)
langchain
langchain-ollama
langchain-core
spacy==3.8.13
langchain-openai
#dependencias para pruebas
pytest==9.1.1
httpx== 0.28.1